body {
    font-family: sans-serif;
    color: black;
    margin: 0em;
} 

.boldnum {
    font-weight: 700;
}

.box {
    background-color: whitesmoke;
    border-radius: 1em;
    width: 25em;
    margin: 0.5em;
    text-align: center;

    box-sizing: border-box;

    padding: 2em 2em 2em 2em;

    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;

}

.no-bullet {
    list-style-type: none;
    padding-left: 0em;
}

.button {
    background-color: burlywood;
    color:white;
    display: block;
    box-sizing: border-box;
    border-radius: 2em;
    width: 50%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

.caps {
    text-transform: uppercase;
}

.house {
    width: 90%;

}

.icons {
    width: 30%;
    display: block;
    margin-right: 1em;
}

.gray-txt {
    color: lightslategray;
}

.line {
    display: flex;
}