body {
    font-family: sans-serif;
    color: black;
    margin: 0em;
} 

.bold-num {
    font-weight: 700 px;
    font-size: 1.6em;
    margin-left: 20px;
    margin-right: 8px;

}

.room-info {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    line-height: 55px;
    
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.box {
    background-color: whitesmoke;
    border-radius: 1em;
    width: 25em;
    margin: 0.5em;
    text-align: center;

    box-sizing: border-box;

    padding: 2em 2em 2em 2em;

    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;

}

.no-bullet {
    list-style-type: none;
    padding-left: 0em;
}

.button {
    background-color: burlywood;
    color:white;
    display: block;
    box-sizing: border-box;
    border-radius: 2em;
    width: 50%;
    height: auto;
    
    margin-bottom: 1em;

    margin-left: auto;
    margin-right: auto;
}

.caps {
    text-transform: uppercase;
}

.divider {
    border: 0;
    height: 1px;
    background: rgb(214, 214, 214);
}

.house {
    width: 90%;
    flex-shrink: 0;

}

.icons {
    width: 40px;

}

.gray-txt {
    color: lightslategray;
}

.line {
    display: flex;
    align-items: center;
}

